.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  transition: 250ms;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Image {
  animation: fadeIn 3s;
}
