.Searchbar {
  flex-direction: row;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #eab676;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.CurrentDogSpan {
  background: linear-gradient(
    90deg,
    rgb(199, 0, 0) 0%,
    rgba(106, 142, 67, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Logo {
  height: 10vh;
  border-radius: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.Logotext {
  color: #da491d;
  font-size: 2vh;
  margin: 2px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 4px 4px 6px #ffffff;
}

.RandomText {
  font-family: 'Concert One', cursive;
  color: white;
  width: 2vh;
  padding: 1vh;
  opacity: 0;
  transition: 500ms;
}

.LogoContainer:hover .RandomText {
  opacity: 1;
}

.LogoContainer {
  display: flex;
  position: relative;
}

.CurrentDog {
  font-family: 'Concert One', cursive;
  font-size: 2vh;
}

.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  font-family: 'Concert One', cursive;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.SearchFormbutton {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url('https://icons.iconarchive.com/icons/microsoft/fluentui-emoji-mono/128/Dog-Face-icon.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.SearchFormbutton:hover {
  opacity: 1;
}

.SearchFormbuttonlabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchForminput {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.SearchFormSelect {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 5px;
  border-radius: 3px;
  font-family: 'Concert One', cursive;
  padding-top: 4px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.SearchForminput::placeholder {
  font: inherit;
  font-size: 18px;
}
